@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(fonts/Roboto/RobotoCondensed-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(fonts/Roboto/RobotoCondensed-Italic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url(fonts/Logo/PoiretOne/PoiretOne-Regular.ttf);
}

body {
    padding-top: 56px;
}

* {
    font-family: Roboto-Regular;
    font-size: 12pt;
    border-radius: 0 !important;
}

.profile-image-container {
    max-height: 125px;
    max-width: 125px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.preview-image {
    max-width: 60px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -5px;
    height: auto;
}

.bg-blue {
    background-color: #3B378C;
}

.logo {
    font-family: PoiretOne-Regular;
}

.bg-triangle {
    background-image: url(bg_line.png);
    background-position: center center;
}

.card {
    border-color: #3B378C;
    border-width: 0.3px;
}

footer {
    background-color: #8C8068;
}

.btn-dark {
    background-color: #08090D;
}

.card a {
    color: #3B378C;
}

.card a:visited {
    color: #6a6ebe;
}

.card .badge {
    font-family: Roboto-Light;
}

.card .badge-primary {
    background-color: #3B378C;
}

.icon-pdf {
    max-width: 55px;
    max-height: 55px;
}