{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<!-- <h1 class="my-4">Статья №{{ object.id }}</h1> -->
	<div class="card mb-4 shadow-lg">
		<div class="card-body">
			<h2 class="card-title">{{ object.title }}</h2>
			<p class="card-text">{{ object.content }}</p>
			<!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
		</div>
		<div class="card-footer text-muted row mx-2">
			<div class="col">
				{{ object.date|date:"F d, Y" }}
			</div>
			<div class="col float-right text-right">
				<a href="{% url 'user-detail' object.author.profile.id %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
				<img class="preview-image img-thumbnail rounded-circle" src="{{ object.author.profile.image.url }}">
			</div>
		</div>
	</div>

	{% for comment in comments %}
		<div class="card mb-4 shadow-lg">
			<div class="text-muted row mx-2">
				<div class="col">
					{{ comment.date|date:"F d, Y" }}
				</div>
				<div class="col float-right text-right">
					<a href="{% url 'user-detail' object.author.profile.id %}">{{ comment.author.first_name }} {{ comment.author.last_name }}</a>
					<img class="preview-image img-thumbnail rounded-circle" src="{{ comment.author.profile.image.url }}">
				</div>
			</div>
			<div class="card-body">
				<p class="card-text">{{ comment.content }}</p>
				<!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
			</div>
		</div>
	{% endfor %}

	{% if user.is_authenticated %}
		<div class="card mb-4 shadow-lg">
			<form method="POST">
				{% csrf_token %}
				<div class="card-body">
					<p class="card-text">{{ form|crispy }}</p>
					<button class="btn btn-dark" type="submit">Save</button>
					<!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
				</div>
			</form>
		</div>

		{% if object.author == user or not user.profile.access == 'standart' %}
		<div class="text-center">
			<a class="btn btn-dark text-white" href="{% url 'post-update' object.id %}">Update</a>
			<a class="btn btn-danger text-white" href="{% url 'post-delete' object.id %}">Delete</a>
		</div>
		{% endif %}
	{% endif %}

{% endblock content %}

				